<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./sty.css">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <section>
        <div>
            <form action="/cadastro/cad" method="post">
                <label for="Usuario">Nome:</label>
                <input type="text" name="usuario" id="usuario" placeholder="Qual o seu nome?">
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email" placeholder="Qual seu e-mail?">
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" placeholder="Cadastre uma senha">
                <button type="submit">Cadastrar</button>
            </form>
            <a href="/menu"><button>Voltar</button></a>
        </div>
    </section>
    <footer>
        <p>Cadatro de um novo usuario</p>
    </footer>
</body>
</html>