<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/sty.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <section>
      <form action="/entrar" method="post">                
        <label for="login">E-mail:</label>
        <input type="email" name="login" id="login" placeholder="Entre com seu email ..."><br>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha"placeholder="Entre com sua senha ..."><br>
        <button type="submit">Entrar</button>
      </form>
    </section>
    <footer>      
      <p>Bem vindo a <%= title %></p>
    </footer>
  </body>
</html>
