<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/menu.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <section>
        <div>
            <ol>
                
                <lu><a href="">Lista de usuarios</a></lu><br>
                <lu><a href="">Lista de produtos</a></lu><br>
                <lu><a href="/cadastro">Cadastro de usuarios</a></lu><br>
                <lu><a href="">Cadastro de produtos</a></lu><br>
                <lu><a href="">Upload de Arquivos</a></lu><br>
            </ol>
        </div>
    </section>
    <footer>
        <p>paragrafo footer</p>
    </footer>
</body>
</html>