<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/menu.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>
    <section>
        <div>   
            <form action="/upload/up" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="file">
                <button type="submit">Enviar</button>
                
            </form>
            <a href="/menu"><button>Voltar</button></a>
        </div>
    </section>
    <footer>
        <p>paragrafo footer</p>
    </footer>
</body>
</html>