body { 
    background: rgb(58, 58, 131);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
  
}

section {    
    background: white;
    border-radius: 10px;
    padding:20px ;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px rgba(83, 64, 64, 0.164);
    text-align: center;
    word-wrap: break-all;
    
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
  